/******************************
Grid
******************************/

body {
  background-color: darkgrey;
  /* width: 100%; */
  /* height: 100%; */
}

.game {
  /* box-sizing: border-box; */
  /* width: 100%; */
  padding: 1em;
  text-align: center;
  /* display: block; */
  /* position: relative; */
  /* text-align: center; */
}


.grid {
  margin: 0 auto;
  max-width: 80em;
  background-color: darkgrey;
  width: 95%;
  display: block;
  text-align: center;
  /* padding: 0; */
  /* position: absolute; */
  /* top: 50%; */
  /* left: 50%; */
  /* transform: translate(-50%,-50%); */
}

.tile {
  box-sizing: border-box;
  display: inline-block;
  width: 33.3333%;
  float: left;
  background-color: rgb(232, 68, 68);
  position: relative;
  padding-bottom: 33.3333%;
  border-radius: 0.5em;
  border: 1px solid darkgrey;
}

@media screen and (min-width: 480px) {
  .tile {
  box-sizing: border-box;
  width: 16.66%;
  float: left;
  position: relative;
  padding-bottom: 16.66%;
  background-color: rgb(232, 68, 68);
  border-radius: 0.5em;
  border: 1px solid darkgrey;
  display: inline-block;
}
}

/************************************
Iphone 6
************************************/
/*
@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (orientation : portrait) 
{ 
  .tile {
  box-sizing: border-box;
  display: inline-block;
  width: 33.3333%;
  float: left;
  background-color: rgb(232, 68, 68);
  position: relative;
  padding-bottom: 33.3333%;
  border-radius: 0.5em;
  border: 1px solid darkgrey;
}
}

@media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) 
    and (orientation : landscape)
{ 
    .tile {
  box-sizing: border-box;
  width: 16.66%;
  float: left;
  position: relative;
  padding-bottom: 16.66%;
  background-color: rgb(232, 68, 68);
  border-radius: 0.5em;
  border: 1px solid darkgrey;
  display: inline-block;
}
}

/************************************
Iphone 6+
************************************/

@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) 
    and (orientation : portrait)
{ 
  .tile {
  box-sizing: border-box;
  display: inline-block;
  width: 33.3333%;
  float: left;
  background-color: rgb(232, 68, 68);
  position: relative;
  padding-bottom: 33.3333%;
  border-radius: 0.5em;
  border: 1px solid darkgrey;
}
}

@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) 
    and (orientation : landscape)
{ 
    .tile {
  box-sizing: border-box;
  width: 16.66%;
  float: left;
  position: relative;
  padding-bottom: 16.66%;
  background-color: rgb(232, 68, 68);
  border-radius: 0.5em;
  border: 1px solid darkgrey;
  display: inline-block;
}
}
*/
.tile input {
  height: 0;
  width: 0;
  position: absolute;
  z-index: -1;
}

.tile input:not(:checked) + .tile-style .icon {
  opacity: 1;
}

.tile input:checked + .tile-style .icon {
  opacity: 0;
}

.tile-style {
  height: 100%;
  width: 100%;
  background-color: rgb(232, 68, 68);
  display: flex;
  position: absolute;
  border-radius: 0.5em;
  justify-content: center;
  align-items: center;
}

.icon {
  box-sizing: border-box;
  font-family: untitled-font-1;
  font-size: 2em;
}

.clear {
  display: block;
  clear: both;
}

footer {
  display: block;
  background-color: darkgrey;
  width: 100%;
  height: 2em;
  clear: both;
}
