@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud:before {
  content: "a";
}
.icon-lightbulb:before {
  content: "b";
}
.icon-like:before {
  content: "c";
}
.icon-foot:before {
  content: "d";
}
.icon-mountains:before {
  content: "e";
}
.icon-clipboard:before {
  content: "f";
}
.icon-blind:before {
  content: "g";
}
.icon-anchor:before {
  content: "h";
}
.icon-safety-cone:before {
  content: "i";
}
.icon-social-picasa:before {
  content: "j";
}
.icon-social-reddit:before {
  content: "k";
}
.icon-wrench:before {
  content: "l";
}
.icon-social-squidoo:before {
  content: "m";
}
.icon-social-evernote:before {
  content: "n";
}
.icon-first-aid:before {
  content: "o";
}
.icon-heart:before {
  content: "p";
}
